# Bu dosyayı kopyalayıp keystore.properties olarak kullan
# Her uygulama için builder/keys/{paketAdi}/keystore.properties oluştur
# Tüm uygulamalar için aynı değerler kullanılabilir (furkankey)

storePassword=furkankey
keyAlias=furkankey
keyPassword=furkankey
